

<div class="container text-center general-info">
  <div class="row">
    <div class="col-sm-6 mx-auto"><br><br>

      <h1>Editar Usuario</h1><br>
      <%= form_for @user do |u| %>
      <div class="form-group">
        <%= u.text_field :name, class: "form-control input-lg", placeholder: "Nombre" %>
      </div>
      <div class="form-group">
        <%= u.email_field :email, class: "form-control input-lg", placeholder: "Email" %>
      </div>
      <div class="form-group">
        <%= u.text_field :phone, class: "form-control input-lg", placeholder: "Celular" %>
      </div>
      <div class="form-group">
        <%= u.select :rol, User.rols.keys, {}, {class: "form-control input-lg"} %>
      </div>
      <div>
        <%= u.submit "Editar Usuario", class: "btn btn-primary btn-lg btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
