<div class="container">
  <div class="row">
    <div class="col-sm-4 mx-auto">
      <br><br>
      <h2 class="text-center">Ingresa</h2><br>

      <h3 class="text-center">¿Olvidaste tu contraseña?</h3>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group text-center">
        <%= f.submit "Reenviar contraseña", class: "btn btn-primary btn-lg btn-block" %>
      </div>
      <% end %>
      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>


    </div>
  </div>
</div>