
<div class="container">
  <div class="row">

    <div class="col-md-8 ml-0">
    <br>
      <%= link_to "Crear Suscripcion", new_suscription_path, class: "btn btn-primary" %>
    </div>

    <div class="col-sm-12 mx-auto">

      <h1 class="text-center">Suscripciones</h1><br>

      <table class="table table table-striped table-bordered text-center">
        <tr>
          <th>Id</th>
          <th>Tipo</th>
          <th>Estado</th>
          <th>Horas</th>
          <th>Cabinas</th>
          <th>Observaciones</th>
          <th>Suscriptor</th>
          <th>Opciones</th>
        </tr>

        <% @suscriptions.each do |s| %>
          <tr>
            <td><%= s.id %></td>
            <td><%= s.name %></td>
            <td><%= s.status %></td>
            <td><%= s.hours %></td>
            <td><%= s.rooms %></td>
            <td><%= s.observations %></td>
            <td><%= s.user.name %></td>
            <td>
            <div class="btn-group" role="group">
              <%= link_to "Editar", edit_suscription_path(s), class:"btn btn-success"  %>
              <%= link_to "Eliminar", s, method: :delete, data: { confirm: "Seguro deseas eliminar la suscripción?" }, class:"btn btn-secondary"  %>
            </div>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>
