<%= link_to "Crear Suscripcion", new_suscription_path, class: "btn btn-primary" %>

<div class="container text-center general-info">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Suscripciones</h1>

      <table class="table">
        <tr>
          <th>Id</th>
          <th>Tipo</th>
          <th>Estado</th>
          <th>Horas</th>
          <th>Cabinas</th>
          <th>Observaciones</th>
          <th>Suscriptor</th>
          <th></th>
        </tr>

        <% @suscriptions.each do |s| %>
          <tr>
            <td><%= s.id %></td>
            <td><%= s.name %></td>
            <td><%= s.status %></td>
            <td><%= s.hours %></td>
            <td><%= s.rooms %></td>
            <td><%= s.observations %></td>
            <td><%= s.user.name %></td>
            <td>
              <%= link_to "Editar", edit_suscription_path(s) %>
              <%= link_to "Eliminar", s, method: :delete, data: { confirm: "Seguro deseas eliminar la suscripción?" } %>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>
