<%= link_to "Crear Reserva", new_reservation_path, class: "btn btn-primary" %>

<div class="container text-center general-info">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Reservas</h1>

      <table class="table">
        <tr>
          <th>Día</th>
          <th>Hora</th>
          <th>Suscripción</th>
          <th>Usuario</th>
          <th>Sala</th>
        </tr>

        <% @reservations.each do |r| %>
        <tr>
<<<<<<< HEAD
          <td><%= r.schedule.day %></td>
          <td><%= r.schedule.hour %></td>
=======
          <td><%#= r.schedule.name %></td>
>>>>>>> js_integration
          <td><%= r.suscription.name %></td>
          <td><%= r.suscription.user.name %></td>
          <td><%= r.schedule.room.name %></td>
        </tr>
        <% end %>

      </table>

    </div>
  </div>
</div>
