<div class="container">
  <div class="row">

    <div class="col-md-8 ml-0">
    <br>
      <%= link_to "Crear Reserva", new_reservation_path, class: "btn btn-primary" %>
    </div>

    <div class="col-sm-10 mx-auto">

      <h1 class="text-center">Reservas</h1>

      <table class="table table table-striped table-bordered text-center">
        <tr>
          <th>Día</th>
          <th>Hora</th>
          <th>Suscripción</th>
          <th>Usuario</th>
          <th>Sala</th>
        </tr>

        <% @reservations.each do |r| %>
        <tr>
          <td><%= r.schedule.day %></td>
          <td><%= r.schedule.hour %></td>
          <td><%= r.suscription.name %></td>
          <td><%= r.suscription.user.name %></td>
          <td><%= r.schedule.room.name %></td>
        </tr>
        <% end %>

      </table>

    </div>
  </div>
</div>
