<div class="container container-fluid">
  <div class="row h-100">
    <div class="col-sm-6 col-md-4 mx-auto p-4 mb-4">
    <br><br><br>
      <h2 class="text-center">Ingresa</h2><br>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%= f.label :email%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control"%>
        </div>

        <div class="field form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions form-group text-center">
          <%= f.submit "Entrar", class: "btn btn-lg btn-hover color-9" %>
        </div>
      <% end %>
        <br>

      <div class="text-center">
        <%= render "devise/shared/links", class: "text-center" %>
      </div>
    </div>
  </div>

  
  <footer class="fixed-bottom">

      <!-- Copyright -->
      <div class="text-center col-md-12 py-3">Powered by
        <a href="https://56kz.github.io/#contact" target="_blank"> Verzion56</a>
      </div>
      <!-- Copyright -->

  </footer>


</div>

