<!DOCTYPE html>
<html>
  <head>
    <title>TheSite</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.css" integrity="sha256-nJK+Jim06EmZazdCbGddx5ixnqfXA13Wlw3JizKK1GU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.css" integrity="sha256-QG5qcyovbK2zsUkGMWTVn0PZM1P7RVx0Z05QwB9dCeg=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.css" integrity="sha256-UpqyFskjj8q6ioNCrwGzObqiE56OxEYuSBXUHGqDBII=" crossorigin="anonymous" />

    <script src="https://unpkg.com/moment@2.24.0/min/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.js" integrity="sha256-F4ovzqUMsKm41TQVQO+dWHQA+sshyOUdmnDcTPMIHkM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.js" integrity="sha256-I1bdnmA3OtkQwlbwNbJQ2y+kH2fIXfnIjhAfYhxJqiY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.js" integrity="sha256-Q7vy6GHSfPnAFHnyM58AAI+jLJRBr3o7VHGlu+6mUlY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/locales-all.js" integrity="sha256-j8iQxZfxQSVcV2dj1WTX23PmeujqjfyYg122dWJ9zw8=" crossorigin="anonymous"></script>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "TheSite", root_path, class: "navbar-brand" %>
        </div>
        <% if student_signed_in? %>
          <ul class="nav navbar-nav">
            <li><%= link_to "Usuarios", users_path %></li>
            <li><%= link_to "Suscripciones", suscriptions_path %></li>
            <li><%= link_to "Reservas", reservations_path %></li>
          </ul>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span>Registrate</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Ingresa</a></li> -->

          <% if student_signed_in? && current_student == "ivan@eas.edu.co" %>
          <li><%= link_to "Ingresar", new_student_session_path %></li>
          <% else %>
          <li><%= link_to "Registro", new_student_registration_path %></li>
          <li><%= link_to "Salir", destroy_student_session_path, method: :delete %></li>
          <% end %>

        </ul>
      </div>
    </nav>


    <% if flash[:notice] %>
      <div class="alert alert-success text-center">
        <%= flash[:notice] %>
      </div>
    <% end %>




    <%= yield %>
  </body>
</html>
