<!DOCTYPE html>
<html>
  <head>
    <title>TheSite</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "TheSite", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Usuarios", users_path %></li>
          <li><%= link_to "Suscripciones", suscriptions_path %></li>
          <li><%= link_to "Reservas", reservations_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span>Registrate</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Ingresa</a></li>

          <% if student_signed_in? %>
          <!-- <li><a href="/students/sign_out/:student_id"><span></span>Salir</a></li> -->

          <% end %>

        </ul>
      </div>
    </nav>


    <% if flash[:notice] %>
      <div class="alert alert-success text-center">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <h1>El usuario conectado es</h1>
    <%= current_student.name %>
    <p>su email es: </p>
    <%= %>

    <%= yield %>
  </body>
</html>
